<head>
    <title>I-HELP</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>

<div class="row bg-primary pt-3">
    <div class="col-10" >
       <!-- <h1  style="margin-center:-25px;"> I-HELP </h1>-->
        <h1><P style="text-align:center;">I-HELP</P></h1>
    </div>
    <div class=""col-1>
        <!--<strong>@{{name}}</strong>-->
        <strong>{{name}}</strong>

    </div>
</div>